
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="text-center">Xin chào Quản trị viên</h2>
        
    </div>
</div>
<!--<script src="~/Content/Admin/vendor/chart.js/Chart.js"></script>
@{
	string[] arrayList = new string[12];
	arrayList = (string[])ViewBag.dateX;
	string[] dt = new string[12];
	dt = (string[])ViewBag.data;
	string name = "Doanh thu";
}-->
@* hiện biểu đồ*@
<!--<canvas id="myChart" width="100" height="100"></canvas>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["@arrayList[0]","@arrayList[1]","@arrayList[2]","@arrayList[3]","@arrayList[4]","@arrayList[5]","@arrayList[6]","@arrayList[7]","@arrayList[8]","@arrayList[9]","@arrayList[10]","@arrayList[11]"],
            datasets: [{
                label: '@name',
                data: [@dt[0],@dt[1],@dt[2],@dt[3],@dt[4],@dt[5],@dt[6],@dt[7],@dt[8],@dt[9],@dt[10],@dt[11]],
                backgroundColor: [
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',

                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)'

                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>-->



<!-- /.container-fluid -->
      <!--</div>-->